

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h3 class="navbar-brand font">InstaPost</h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <!--Visible in lapotp view -->
    <div class="navbar-nav mobile">
      <div class="apart">
        <h6 class="nav-item nav-link" [ngClass]="{'active': homeService.selectedComponent=='chats'}" (click)="homeService.setSelected('chats')">Chats <span class="sr-only">(current)</span></h6>
        <h6 class="nav-item nav-link" routerLink="/login" (click)="logout()">Logout</h6>
      </div>
      <div style="text-align: left">
        <h6 class="nav-item nav-link" [ngClass]="{'active': homeService.selectedComponent=='contacts'}" (click)="homeService.setSelected('contacts')">Contacts</h6>
        <h6 class="nav-item nav-link" [ngClass]="{'active': homeService.selectedComponent=='profile'}" (click)="homeService.setSelected('profile')">Profile</h6>
        <h6 class="nav-item nav-link" (click)="logout()">Dashboard</h6>
      </div>
    </div>

    <!--Visible in mobile view -->
    <div class="navbar-nav laptop">
      <div class="apart">
        <h6 class="nav-item nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></h6>
        <h6 class="nav-item nav-link" routerLink="/login" (click)="logout()">Logout</h6>
      </div>
    </div>


  </div>
</nav>
