<h2 class="login-header">Login</h2>
<div style="float: left;">
  <div class="flex-row">
    <div class="flex-col col-6">
      <mat-form-field appearance="standard">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="lf().username" placeholder="username" [formControl]="unameLog" required>
        <mat-error *ngIf="unameLog.invalid">You must enter value.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="lf().password" placeholder="password" [formControl]="passwdLog" required>
        <mat-error *ngIf="passwdLog.invalid">You must enter value.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button (click)="onLogSubmit()" [disabled]="unameLog.invalid || passwdLog.invalid">Log in</button>
</div>

<div style="float: right;">
  <div class="flex-row">
    <div class="flex-col col-6">
      <mat-form-field appearance="standard">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="sf().userName" placeholder="username" [formControl]="unameSign" required>
        <mat-error *ngIf="unameSign.invalid">You must enter value.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="sf().password" placeholder="password" [formControl]="passwdSign" required>
        <mat-error *ngIf="passwdSign.invalid">You must enter value.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="sf().firstName" placeholder="first name">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="sf().lastName" placeholder="last name">
      </mat-form-field>
    </div>
    <div class="flex-col col-6">
      <mat-form-field appearance="standard">
        <mat-label>Phone</mat-label>
        <input matInput [(ngModel)]="sf().phoneNum" placeholder="phonenumber">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="sf().email" placeholder="email">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Birthday</mat-label>
        <input matInput [owlDateTime]="dt" [owlDateTimeTrigger]="dt" [(ngModel)]="sf().birthday" placeholder="birthday">
        <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button (click)="onRegisterSubmit()" [disabled]="unameSign.invalid || passwdSign.invalid">Submit</button>
</div>


