.post {
  /*width: 50%;*/
  /*height: 50%;*/
  margin: 15px;
}

.columnpr {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
}

.flex-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;

}

.addPost {
  position: fixed;
  bottom: 10px;
  width: 100vh;
  color:white;
}
.font {
  font-family: 'Baloo Chettan', cursive;
}
.outercontainer {
  justify-content: center;
  align-content: center;
}

.addfab {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color:white;
}
