
<mat-form-field style="margin-top: 2%; width: 100%">
  <mat-label>Select a statistic</mat-label>
  <mat-select [(value)]="dashboardService.selectedStatistic" (selectionChange)="dashboardService.getSelectedStat()">
    <mat-option value="trending#">Trending Hashtag</mat-option>
    <mat-option value="postsPerDay">Posts Per Day</mat-option>
    <mat-option value="repliesPerDay">Replies Per Day</mat-option>
    <mat-option value="likesPerDay">Likes Per Day</mat-option>
    <mat-option value="dislikesPerDay">Dislikes Per Day</mat-option>
    <mat-option value="activeuser">Most active users Per Day</mat-option>
    <mat-option value="postUser">Posts Per Day of Given User</mat-option>
    <mat-option value="reactPost">Likes, Dislikes and Replies of a Given Post</mat-option>
    <!--<mat-option value="likesPost">Likes to a Given Post</mat-option>-->
    <!--<mat-option value="dislikesPost">Dislikes to a Given Post</mat-option>-->
  </mat-select>
</mat-form-field>

<div class="chart-container">
  <google-chart *ngIf="dashboardService.selectedStatistic ==='trending#' && dashboardService.chartData.length > 0"  [type]="'BarChart'" [data]="dashboardService.chartData"
                [columnNames]="dashboardService.columnNames" title="Trending Hashtags" width="500" height="300" [dynamicResize]="true" ></google-chart>
  <h4 *ngIf="dashboardService.selectedStatistic ==='trending#' && dashboardService.chartData.length === 0" style="text-align: center;">No hashtags have been mentioned today!</h4>

  <google-chart *ngIf="dashboardService.selectedStatistic ==='postsPerDay' && dashboardService.postsPerDay.length > 0"  [type]="'LineChart'" [data]="dashboardService.chartData"
                [columnNames]="dashboardService.columnNames" title="Posts Per Day" width="500" height="300" [dynamicResize]="true" ></google-chart>

  <google-chart *ngIf="dashboardService.selectedStatistic ==='repliesPerDay' && dashboardService.repliesPerDay.length > 0"  [type]="'LineChart'" [data]="dashboardService.chartData"
                [columnNames]="dashboardService.columnNames" title="Replies Per Day" width="500" height="300" [dynamicResize]="true" ></google-chart>

  <google-chart *ngIf="dashboardService.selectedStatistic ==='likesPerDay' && dashboardService.likesPerDay.length > 0"  [type]="'LineChart'" [data]="dashboardService.chartData"
                [columnNames]="dashboardService.columnNames" title="Likes Per Day" width="500" height="300" [dynamicResize]="true" ></google-chart>

  <google-chart *ngIf="dashboardService.selectedStatistic ==='dislikesPerDay' && dashboardService.dislikesPerDay.length > 0"  [type]="'LineChart'" [data]="dashboardService.chartData"
                [columnNames]="dashboardService.columnNames" title="Dislikes Per Day" width="500" height="300" [dynamicResize]="true" ></google-chart>

  <div *ngIf="dashboardService.selectedStatistic ==='postUser'">
    <mat-form-field style="margin-top: 2%; width:100%">
    <mat-label>Select a user</mat-label>
    <mat-select [(value)]="dashboardService.selectedUser" (selectionChange)="dashboardService.getPostsPerDayOfUser()">
    <mat-option *ngFor="let contact of homeService.getContactsOfUser()" [value]="contact.userId">{{contact.firstName}} {{contact.lastName}}</mat-option>
    </mat-select>
    </mat-form-field>

    <google-chart *ngIf="dashboardService.selectedStatistic ==='postUser' && dashboardService.postsPerDayOfUser.length > 0"  [type]="'LineChart'" [data]="dashboardService.chartData"
                  [columnNames]="dashboardService.columnNames" title="Posts of Selected User Per Day" width="500" height="300" [dynamicResize]="true" ></google-chart>
  </div>


  <div *ngIf="dashboardService.selectedStatistic ==='activeuser' && dashboardService.mostActiveUsers.size > 0" style="flex-direction: column-reverse; display: flex;">
    <div *ngFor="let col of dashboardService.activeusercolumnarr; let i=index"  >
      <google-chart  [type]="'ColumnChart'" [data]="dashboardService.activeuserdataarr[i]"
                     [columnNames]="['count','count']" title="Most Active Users on {{col | date : 'fullDate'}}" width="500" height="300" [dynamicResize]="true" ></google-chart>
      <hr>
    </div>

  </div>

  <div *ngIf="dashboardService.selectedStatistic ==='reactPost'">
    <mat-form-field style="margin-top: 2%; width:100%">
      <mat-label>Select a post</mat-label>
      <mat-select [(value)]="dashboardService.selectedPost" (selectionChange)="dashboardService.getAllReactionsForPost()">
        <mat-option *ngFor="let post of dashboardService.postsForSelect" [value]="post.postId">{{post.postId}} | {{post.caption}}</mat-option>
      </mat-select>
    </mat-form-field>

    <google-chart *ngIf="dashboardService.postReactions.numberOfDislikes"  [type]="'ColumnChart'" [data]="dashboardService.chartData"
                  [columnNames]="dashboardService.columnNames" title="Selected Post Reactions" width="500" height="300" [dynamicResize]="true" ></google-chart>
  </div>




  <!--<table class="table" *ngIf="dashboardService.selectedStatistic ==='postsPerDay' && dashboardService.postsPerDay">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">Date</th>-->
      <!--<th scope="col">Number of Posts</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let dates of dashboardService.postsPerDay">-->
      <!--&lt;!&ndash;<th scope="row">1</th>&ndash;&gt;-->
      <!--<td>{{dates.day | date : 'dd/MM/yyyy'}}</td>-->
      <!--<td>{{dates.total}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

  <!--<table class="table" *ngIf="dashboardService.selectedStatistic ==='repliesPerDay' && dashboardService.repliesPerDay">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">Date</th>-->
      <!--<th scope="col">Number of Replies</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let dates of dashboardService.repliesPerDay">-->
      <!--&lt;!&ndash;<th scope="row">1</th>&ndash;&gt;-->
      <!--<td>{{dates.day | date : 'dd/MM/yyyy'}}</td>-->
      <!--<td>{{dates.total}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

  <!--<table class="table" *ngIf="dashboardService.selectedStatistic ==='likesPerDay' && dashboardService.likesPerDay">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">Date</th>-->
      <!--<th scope="col">Number of Likes</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let dates of dashboardService.likesPerDay">-->
      <!--&lt;!&ndash;<th scope="row">1</th>&ndash;&gt;-->
      <!--<td>{{dates.day | date : 'dd/MM/yyyy'}}</td>-->
      <!--<td>{{dates.total}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

  <!--<table class="table" *ngIf="dashboardService.selectedStatistic ==='dislikesPerDay' && dashboardService.dislikesPerDay">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th scope="col">Date</th>-->
      <!--<th scope="col">Number of Dislikes</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let dates of dashboardService.dislikesPerDay">-->
      <!--&lt;!&ndash;<th scope="row">1</th>&ndash;&gt;-->
      <!--<td>{{dates.day | date : 'dd/MM/yyyy'}}</td>-->
      <!--<td>{{dates.total}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

  <!--<table class="table" *ngIf="dashboardService.selectedStatistic ==='activeuser' && dashboardService.mostActiveUsers.size > 0">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--&lt;!&ndash;<th scope="col">Date</th>&ndash;&gt;-->
      <!--<th scope="col">Username</th>-->
      <!--<th scope="col">Number of Posts and Comments</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody *ngFor="let key of dashboardService.mostActiveKeys">-->
        <!--<tr ><th colspan="2">{{key}}</th></tr>-->
        <!--<tr *ngFor="let activeUser of dashboardService.mostActiveUsers.get(key)">-->
          <!--&lt;!&ndash;<td>{{activeUser.day | date : 'dd/MM/yyyy'}}</td>&ndash;&gt;-->
          <!--<td>{{activeUser.username}}</td>-->
          <!--<td>{{activeUser.count}}</td>-->
        <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->

  <!--<div *ngIf="dashboardService.selectedStatistic ==='postUser'">-->

    <!--<mat-form-field style="margin-top: 2%; width:100%">-->
      <!--<mat-label>Select a user</mat-label>-->
      <!--<mat-select [(value)]="dashboardService.selectedUser" (selectionChange)="dashboardService.getPostsPerDayOfUser()">-->
        <!--<mat-option *ngFor="let contact of homeService.getContactsOfUser()" [value]="contact.userId">{{contact.firstName}} {{contact.lastName}}</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->

    <!--<table class="table" *ngIf="dashboardService.selectedStatistic ==='postUser'">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th scope="col">Date</th>-->
        <!--<th scope="col">Number of Posts</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr *ngFor="let dates of dashboardService.postsPerDayOfUser">-->
        <!--&lt;!&ndash;<th scope="row">1</th>&ndash;&gt;-->
        <!--<td>{{dates.day | date : 'dd/MM/yyyy'}}</td>-->
        <!--<td>{{dates.total}}</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->

  <!--<div *ngIf="dashboardService.selectedStatistic ==='reactPost'">-->
    <!--<mat-form-field style="margin-top: 2%; width:100%">-->
      <!--<mat-label>Select a post</mat-label>-->
      <!--<mat-select [(value)]="dashboardService.selectedPost" (selectionChange)="dashboardService.getAllReactionsForPost()">-->
        <!--<mat-option *ngFor="let post of dashboardService.postsForSelect" [value]="post.postId">{{post.postId}} | {{post.caption}}</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->

    <!--<table class="table">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th scope="col">Number of Likes</th>-->
        <!--<th scope="col">Number of Dislikes</th>-->
        <!--<th scope="col">Number of Replies</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr>-->
        <!--<td>{{dashboardService.postReactions.numberOfLikes}}</td>-->
        <!--<td>{{dashboardService.postReactions.numberOfDislikes}}</td>-->
        <!--<td>{{dashboardService.postReactions.numberOfReplies}}</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->


</div>

