
<div class="container outercontainer">
<!--<button (click)="userService.logout()">logout </button>-->
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">chat</mat-icon>&#160; Chats
      </ng-template>
      <mat-list>
        <button mat-raised-button data-toggle="modal" data-target="#addChat">Add Chat</button>
        <h3 mat-subheader>Chats</h3>
        <mat-list-item *ngFor="let chat of getChats()">
            <mat-icon mat-list-icon>group</mat-icon>
            <h4 mat-line>{{chat.chatName}}</h4>
            <p mat-line> Creation Date: {{chat.creationDate | date}} </p>
          <div class="col">
            <button *ngIf="isUserOwnerOfChat(chat.ownerId)" mat-icon-button (click)="deleteChat(chat.chatId)"><mat-icon>delete</mat-icon></button>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">contacts</mat-icon>&#160; Contacts
      </ng-template>
      <mat-list>
        <button mat-raised-button data-toggle="modal" data-target="#addContact">Add Contact</button>
        <h3 mat-subheader>Contacts</h3>
        <mat-list-item *ngFor="let contact of getContacts()">
          <mat-icon mat-list-icon>person_pin</mat-icon>
          <h4 mat-line>{{contact.firstName}} {{contact.lastName}}</h4>
          <p mat-line> Phone Number: {{contact.phonenumber}} </p>
          <p mat-line> Email: {{contact.email}} </p>
          <div class="col">
            <button mat-icon-button (click)="deleteContact(contact.personId)"><mat-icon>delete</mat-icon></button>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person_outline</mat-icon>&#160; Profile
      </ng-template>
      <div class="flex-row">
        <div class="flex-col col-6">
          <!--<div class="form-field">-->
            <!--<label>Username</label>-->
            <!--<mat-form-field appearance="standard">-->
              <!--<mat-label>Username</mat-label>-->
              <!--<input matInput [(ngModel)]="getProfileInfo().userName" placeholder="username">-->
            <!--</mat-form-field>-->
          <!--</div>-->
          <!--<div class="form-field">-->
            <!--<label>First Name</label>-->
            <!--<mat-form-field appearance="standard">-->
              <!--<mat-label>First Name</mat-label>-->
              <!--<input matInput [(ngModel)]="getProfileInfo().firstName" placeholder="firstname">-->
            <!--</mat-form-field>-->
          <!--</div>-->
          <mat-form-field appearance="standard">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="getProfileInfo().userName" placeholder="username">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="getProfileInfo().firstName" placeholder="first name">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Last Name</mat-label>
            <input matInput [(ngModel)]="getProfileInfo().lastName" placeholder="last name">
          </mat-form-field>
          <!--<div class="form-group row">-->
            <!--<label for="username">Username:</label>-->
            <!--<input type="text" class="form-control" [(ngModel)]="getProfileInfo().userName" id="username" placeholder="username">-->
          <!--</div>-->
          <!--<div class="form-group row">-->
            <!--<label for="first">First Name:</label>-->
            <!--<input type="text" class="form-control" [(ngModel)]="getProfileInfo().firstName" id="first" placeholder="first name">-->
          <!--</div>-->
          <!--<div class="form-group row">-->
            <!--<label for="last">Last Name:</label>-->
            <!--<input type="text" class="form-control" [(ngModel)]="getProfileInfo().lastName" id="last" placeholder="last name">-->
          <!--</div>-->
        </div>
        <div class="flex-col col-6">
          <mat-form-field appearance="standard">
            <mat-label>Phone</mat-label>
            <input matInput [(ngModel)]="getProfileInfo().phonenumber" placeholder="phonenumber">
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="getProfileInfo().email" placeholder="email">
          </mat-form-field>
          <!--<mat-form-field>-->
            <!--<input matInput [matDatepicker]="picker3" placeholder="Birthday" [value]="getProfileInfo().birthday">-->
            <!--<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>-->
            <!--<mat-datepicker #picker3></mat-datepicker>-->
          <!--</mat-form-field>-->
          <mat-form-field appearance="standard">
            <mat-label>Birthday</mat-label>
            <input matInput [(ngModel)]="getProfileInfo().birthday" placeholder="first name">
          </mat-form-field>
          <!--<div class="form-group row">-->
            <!--<label for="phone">Phone number:</label>-->
            <!--<input type="text" class="form-control" [(ngModel)]="getProfileInfo().phonenumber" id="phone" placeholder="first name">-->
          <!--</div>-->
          <!--<div class="form-group row">-->
            <!--<label for="email">Email:</label>-->
            <!--<input type="text" class="form-control" [(ngModel)]="getProfileInfo().email" id="email" placeholder="email">-->
          <!--</div>-->
          <!--<div class="form-group row">-->
            <!--<label for="birthday">Birthday:</label>-->
            <!--<input type="date" class="form-control" [(ngModel)]="getProfileInfo().birthday" id="birthday" placeholder="birthday">-->
          <!--</div>-->
        </div>
      </div>
      <button mat-raised-button (click)="saveProfile()">Save</button>
    </mat-tab>
  </mat-tab-group>
</div>





<!--<div class="container outercontainer">-->

  <!--<h2 class="font">Posts</h2>-->
  <!--<button mat-button (click)="refresh()">Refresh</button>-->
  <!--<div class="flex-wrap">-->

      <!--<mat-card id="cards" class="post" style="max-width: 70%" *ngFor="let post of getAllPosts()" >-->
        <!--<mat-card-header>-->
          <!--<div mat-card-avatar class="example-header-image"></div>-->
          <!--<mat-card-title style="display: flex">{{post.username}}</mat-card-title>-->
          <!--<mat-card-subtitle style="display: flex">{{post.content}} (PostId={{post.postId}}, MessageId={{post.messageId}})</mat-card-subtitle>-->
        <!--</mat-card-header>-->

        <!--<mat-card-content>-->
          <!--<img class="cardsimg" style="max-width: 400px" mat-card-image alt="Photo in post">-->
          <!--<p>-->
            <!--{{post.postDate}}-->
          <!--</p>-->
        <!--</mat-card-content>-->
        <!--<mat-card-actions >-->
          <!--<button mat-icon-button (click)="postService.addReaction(post.messageId, 'like')">-->
            <!--<mat-icon matBadge="{{getReactionsMap(post.messageId).likes}}" matBadgeColor="warn">thumb_up</mat-icon>-->
          <!--</button>-->
          <!--<button  mat-icon-button (click)="postService.addReaction(post.messageId, 'dislike')">-->
            <!--<mat-icon matBadge="{{getReactionsMap(post.messageId).dislikes}}"  matBadgeColor="warn">thumb_down</mat-icon>-->
          <!--</button>-->
        <!--</mat-card-actions>-->

        <!--<app-comment [postId]="post.postId"></app-comment>-->
      <!--</mat-card>-->
    <!--<nav class="navbar navbar-dark bg-dark addPost font">-->
      <!--Add Post-->
      <!--<button  mat-icon-button data-toggle="modal" data-target="#addPost"><i class="material-icons">add_circle_outline</i></button>-->
    <!--</nav>-->
  <!--</div>-->
<!--</div>-->

<!--Add Chat Modal-->
<div class="modal fade font" id="addChat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex-form">
        <div class="input-group mb-3">

        </div>
        <mat-form-field appearance="legacy">
          <mat-label>Chat Name</mat-label>
          <input matInput placeholder="caption" [(ngModel)]="newChat.chatName">
        </mat-form-field>
        <mat-label>Chat Members</mat-label>
        <mat-checkbox *ngFor="let contact of getContacts()" (change)="boxchecked($event)" value="{{contact.userId}}">{{contact.firstName}} {{contact.lastName}}</mat-checkbox>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addChat()">Add Chat</button>
      </div>
    </div>
  </div>
</div>

<!----- Add Contact Modal ------>
<div class="modal fade font" id="addContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex-form">
        <mat-form-field appearance="legacy">
          <mat-label>Contact Email</mat-label>
          <input matInput placeholder="caption" [(ngModel)]="newContact.email">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <mat-label>Contact Phone number</mat-label>
          <input matInput placeholder="caption" [(ngModel)]="newContact.phonenumber">
        </mat-form-field>
        <button mat-button (click)="searchForContact()">Search for contact</button>
        <mat-list>
          <mat-list-item *ngIf="homeService.flag === 'contact'">
            <mat-icon mat-list-icon>person_pin</mat-icon>
            <h4 mat-line>{{homeService.contactResult.firstName}} {{homeService.contactResult.lastName}}</h4>
            <p mat-line> Phone Number: {{homeService.contactResult.phoneNumber}} </p>
            <p mat-line> Email: {{homeService.contactResult.email}} </p>
          </mat-list-item>
          <mat-list-item *ngIf="homeService.flag != 'none' && homeService.flag !='contact'">
            <h6>{{homeService.flag}}</h6>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="homeService.flag!= 'contact'" (click)="addContact()">Add Contact</button>
      </div>
    </div>
  </div>
</div>

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<div class="modal fade font" id="addPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body flex-form">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="thePicture" (change)="loadFile($event)">
            <label class="custom-file-label" for="thePicture">Choose file</label>
          </div>
        </div>
        <mat-form-field appearance="legacy">
          <mat-label>Caption</mat-label>
          <input matInput placeholder="caption" [(ngModel)]="newPost.content">
        </mat-form-field>
        <img id="preview" src="#" alt="your image" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addPost()">Add Post</button>
      </div>
    </div>
  </div>
</div>
