
<div class="container">

  <h2>Posts</h2>

  <div class="flex-wrap">

      <mat-card id="cards" class="example-card post" *ngFor="let post of getAllPosts()">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img class="cardsimg" style="max-width: 400px" mat-card-image alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{post.postdate}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <h6>{{counter}}</h6>
          <button mat-button (click)="addLike(post[0])">LIKE</button>
          <button mat-button>DISLIKE</button>
        </mat-card-actions>
      </mat-card>
    </div>


</div>
<mat-toolbar class="test">My App</mat-toolbar>


