.comment-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-content{
  align-content: center;
}

.comment-table{
  display: flex;
}

.comment-list{
  border-bottom: 1pt solid black;
}

.write-reply{
  border-top: 15px;
  border-top-color: aquamarine;
}

.reply-input-text{
  width: 85%;
}

.submit-reply-button{
}

