<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <details>
        <summary>Show all comments</summary>
      <div class="row test">
        <div>titokayak2020</div>
        <div>Mar 22,2019 7:45pm</div>
      </div>
      <div class="row">I am glad you are having a good time! Btw: that is such a cute puppy!</div>
      <div class="row">
        <button mat-button>LIKE</button>
        <button mat-button>DISLIKE</button>
      </div>
      </details>
    </div>
  </div>
</div>
