  <div class="panel panel-default">
    <div class="panel-body">
      <details>
        <summary>Show all comments</summary>
        <mat-divider></mat-divider>
        <table mat-table class="container comment-table">
          <tr class="comments-list" *ngFor="let reply of getAllReplies()">
            <div class="comment-header">
              <p>{{reply.username}}</p>
              <p>{{reply.messageDate}}</p>
            </div>
            <div class="comment-content" style="display: flex;">{{reply.content}}</div>
            <div style="display: flex;">
              <button mat-icon-button (click)="postService.addReaction(reply.messageId, 'like')">
                <mat-icon matBadge="{{getReactionsMap(reply.messageId).likes}}" matBadgeColor="warn">thumb_up</mat-icon>
              </button>
              <button mat-icon-button (click)="postService.addReaction(reply.messageId, 'dislike')">
                <mat-icon matBadge="{{getReactionsMap(reply.messageId).dislikes}}" matBadgeColor="warn">thumb_down</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </tr>
        </table>
      </details>
      <div class="row container write-reply">
          <mat-form-field class="reply-input-text">
            <textarea matInput matTextareaAutosize matAutosizeMinRows=1.5 matAutosizeMaxRows=5 placeholder="Write a comment" [(ngModel)]="newReply.content"></textarea>
          </mat-form-field>
          <button mat-mini-fab class="submit-reply-button" (click)="addReply()">
            <i class="material-icons right">send</i>
          </button>
      </div>
    </div>
  </div>
