  <div class="panel panel-default">
    <div class="panel-body">
      <details>
        <summary (click)="getRepliesByPostId()">Show all comments</summary>
        <table mat-table class="container comment-table">
          <tr class="comments-list" *ngFor="let reply of getAllReplies()">
            <div class="comment-header">
              <p>{{reply.username}}</p>
              <p>{{reply.messageDate}}</p>
            </div>
            <div class="row comment-content">{{reply.content}}</div>
            <div class="row">
              <button mat-button>LIKE</button>
              <button mat-button>DISLIKE</button>
            </div>
          </tr>
        </table>
      </details>
      <div class="row container write-reply">
          <mat-form-field class="reply-input-text">
            <textarea matInput matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5 placeholder="Write a comment" [(ngModel)]="newReply.content"></textarea>
          </mat-form-field>
          <button mat-mini-fab class="submit-reply-button">
            <i class="material-icons right">send</i>
          </button>
      </div>
    </div>
  </div>
